body{
    background-color: #36454F;
    font-family: "Alegreya", Georgia, Serif;
}

h1{
    color: yellow;
    text-align: center;
    border-style: dashed;
}

h2{
    color: #FF3535;
    text-align: center;
}


a{
    color: #1AD96D;
    text-align: center;
}