body{
    background-color: #36454f;
    text-align: center;
    font-family: "Play", Georgia, Serif;
}

h1{
    color: yellow;
    text-align: center;
    border-style: dashed;
}

h2{
    color: white;
    text-align: center;
}

#instructionText{
    color: #FF3535;
    text-align: center;
    list-style: none;
}


a{
    color: #1AD96D;
    text-align: center;
}

#keyPic{
   height: 50px;
   width: 70px;
}



